body {
  font-family: AlmarenaDisplayRegular, sans-serif;
  padding: 0;
  margin: 0;
}

/*////////////// header */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #696ef5;
  padding: 10px 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin: 0 5px;
}

.navbar ul a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: color 0.3s ease;
  padding: 5px;
}

.navbar li a:hover {
  color: #2c2424;
  background-color: #fff;
  border-radius: 50px;
}

/* ////// Main */

.container {
  padding: 0 70px;
  margin: 0 auto;
  background-color: rgb(240, 231, 221);
  text-align: center;
}

h1 {
  margin-top: 0;
}

.container ul {
  text-align: left;
  display: inline-block;
}

.media-img {
  width: 25%;
}
.text {
  align-items: center;
}

.summary-container {
  display: inline-block;
}

details {
  border: 1px solid #aaa;
  width: 600px;
  border-radius: 4px;
  padding: 10px 0;
  background-color: rgb(158, 156, 149);
}

summary {
  font-weight: bold;
  cursor: pointer;
}

details[open] summary {
  border-bottom: 1px solid #8b8a8a;
}

.web-dev {
  width: 40%;
}

/* ------ Fragment Identifier */
.top {
  text-align: right;
}

.top img {
  width: 20px;
  margin-right: 5px;
}

.top a {
  text-decoration: none;
  color: rgb(204, 27, 95);
  font-weight: 700;
}

/* ---------- Responsiveness */

/* //////// Laptop 1024 width */
@media screen and (max-width: 1024px) {
  /* ////////     Nav Bar */
  .navbar {
    padding: 8px 15px;
  }

  .navbar ul a {
    font-size: 16px;
  }

  .top {
    margin-right: -35px;
  }
}

/* //////// Tablet 768 width */
@media screen and (max-width: 768px) {
  /* ////////     Nav Bar */
  .navbar ul li {
    margin: 0 5px;
  }
  .navbar {
    padding: 5px 10px;
  }

  .navbar ul a {
    font-size: 15px;
  }

  /* ////// Main */

  .media-img {
    width: 210px;
  }

  .web-dev {
    width: 45%;
  }

  .iframe {
    width: 450px;
    height: 265px;
  }

  .top img {
    width: 15px;
  }
}

/* //////////// Mobile Large 425 width */
@media screen and (max-width: 425px) {
  /* ////////     Nav Bar */
  .navbar ul li {
    margin: 0;
  }
  .navbar {
    padding: 0;
  }

  .navbar ul a {
    font-size: 12px;
  }

  /* ////// Main */

  h2 {
    font-size: 12px;
  }

  p {
    font-size: 12px;
  }

  .media-img {
    width: 160px;
  }

  details {
    width: 300px;
  }

  .web-dev {
    width: 55%;
  }

  .iframe {
    width: 320px;
    height: 185px;
  }

  .top {
    margin-right: -55px;
  }

  .top img {
    width: 12px;
  }

  .top a {
    font-size: 12px;
  }
}
/* //////////// Mobile Large 375 width */
@media screen and (max-width: 375px) {
  /* ////// Main */

  .media-img {
    width: 120px;
  }

  details {
    width: 250px;
    font-size: 12px;
  }

  h2 {
    font-size: 10px;
  }

  ul li {
    font-size: 12px;
  }

  .audios,
  .videos {
    width: 250px;
  }

  .iframe {
    width: 250px;
    height: 165px;
  }
}

/* //////////// Mobile Large 320 width */

@media screen and (max-width: 320px) {
  /* ////////     Nav Bar */

  .navbar ul a {
    font-size: 10px;
  }

  /* ////// Main */

  .media-img {
    width: 100px;
  }

  details {
    width: 200px;
    font-size: 12px;
  }

  .audios,
  .videos {
    width: 220px;
    height: 30px;
  }

  .iframe {
    width: 220px;
    height: 135px;
  }
}
